<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <p>Ad, Soyad </p>
    <h2>{{ user_profile.first_name }}</h2>
    <h2>{{ user_profile.last_name }}</h2>
    <hr />
    <br />

    <p>Doğum yeri</p>
    <h2>{{ user_profile.birthplace }}</h2>
    <hr />
    <br>

    <p>Faktikiyaşadığı ünvan</p>
    <h2>{{ user_profile.residence }}</h2>
    <hr />
    <br>

    <p>Yaşı</p>
    <h2>{{ user_profile.age }}</h2>
    <hr />
    <br>

    <p>Təhsil aldığı müəssisə</p>
    <h2>{{ user_profile.university }}</h2>
    <hr />
    <br>

    <p>Hobbiləri</p>
    <h2>{{ user_profile.hobbies }}</h2>
    <hr>
    <br>

</body>

</html>